@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}

.navbar-right{
  display: flex;
  align-items: center;
  gap: 14px;
}
.navbar button{
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover{
  background: #fff4f2;
}

.navbar .active{
  padding-bottom:2px ;
  border-bottom: 2px solid #49557e;
}
.navbar li{
  cursor: pointer;
}
.navbar-search-icon{
  position: relative;

}
.navbar-search-icon .dot{
position: absolute;
min-width: 10px;
min-height: 10px;
background: tomato;
border-radius:5px ;
top: -8px;
right: -8px;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}